* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Alegreya;
}
@font-face {
  font-family: Alegreya;
  src: url(../Fonts/Alegreya/Alegreya-VariableFont_wght.ttf);
}
@font-face {
  font-family: Alegreya_Italic;
  src: url(../Fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf);
}
body {
  background: lavender;
  overflow-x: hidden;
}
header {
  /* position: fixed; */
  text-align: center;
  z-index: 1000;
  /* border: solid; */
  width: 100vw;
}
header.scrolled {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header.scrolled .navlink a {
  color: black;
}
nav ul {
  background-color: lavender;

  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  /* border: solid red; */
  /* background: lavenderblush; */
  background: transparent;
  border-bottom: 0.0001px solid rgba(167, 154, 154, 0.377);
}
img[alt="logo"] {
  height: 70px;
}
.navlink {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}
.navlink li a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  /* border: solid green; */
  /* width: 140px; */
  color: black;
  font-size: 1.1rem;
}

svg[alt="jerseyico"] {
  width: 15px;
  height: 15px;
  /* border: solid; */
  /* padding: 1px; */
  margin-right: 5px;
}
.bi {
  /* border: solid; */
  padding: 10px;
  font-size: 1.1rem;
}

.countjersey {
  position: fixed;
  font-size: 14.5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  top: 15px;
  left: 61%;
  z-index: -1;
  visibility: hidden;
}

.container {
  /**/
}
.container h1 {
  text-align: center;
  position: relative;
  bottom: 120px;
  background-color: lavender;
  color: #0ac200;
  z-index: 1000;
  cursor: none;
}
.titlehead {
  font-family: "Alegreya_Italic";
  color: #133567;
}
.banner {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  /* filter: blur(10px); */
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.59),
    rgba(0, 0, 0, 0.638)
  );
  z-index: 1;
}

img[alt="Banner1"] {
  width: 100%;
  height: 800px;
  object-fit: cover;
  position: absolute;
}
/* .blur {
    filter: blur(10px);
    opacity: 0.5px;
  } */

.logincontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid;
  padding: 10px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  top: 10px;
  border-radius: 25px;
  margin-bottom: 60px;
}
.logincontainer img {
  width: 500px;
  padding: 20px;
}
.form {
  /* border: solid #0ac200; */
  width: 40%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 15px;
  border-radius: 20px;
}
.form input {
  padding: 10px;
  border: 0.1px solid #0ac200;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.form h1 {
  text-align: center;
  position: relative;
  bottom: 40px;
}
.form a {
  display: flex;
  text-decoration: none;
  color: black;
}
.form button {
  background-color: #0ac200;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: 175px;
}
footer {
  position: relative;
  border-top: .1px solid rgba(128, 128, 128, 0.556);
  /* top: 350px; */
}
.footcontainer {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.logo-area {
  display: flex;
  /* flex-grow: 90; */
  /* border: solid; */
  height: auto;
  justify-content: center;
  align-items: center;
}
.logo-area img {
  width: 300px;
}
footer nav a {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  gap: 20px;
  flex-direction: column;
  /* border: solid yellow; */
  padding: 20px;
  color: rgb(29, 23, 23);
  text-decoration: none;
}

.sociallinks a {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* border: solid blue; */
  text-decoration: none;
  color: rgb(29, 23, 23);
}
footer a .bi {
  font-size: 25px;
  /* border: solid; */
}
.tc a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.1px solid rgb(29, 23, 23);
  color: rgb(29, 23, 23);
  padding: 20px;
  text-decoration: none;
}
#tos {
  border-bottom: none;
}
.copyrightarea {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(29, 23, 23);
  padding: 20px;
  font-size: large;
}

.logincontainer {
  display: flex;
}
