* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Alegreya;
}
@font-face {
  font-family: Alegreya;
  src: url(../Fonts/Alegreya/Alegreya-VariableFont_wght.ttf);
}
@font-face {
  font-family: Alegreya_Italic;
  src: url(../Fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf);
}
body {
  background: lavender;
  overflow-x: auto;
}
header {
  position: fixed;
  text-align: center;
  z-index: 1000;
  /* border: solid; */
  width: 100vw;
}
header.scrolled {
  background: lavender;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header.scrolled .navlink a {
  color: black;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  /* border: solid red; */
  /* background: lavenderblush; */
  background: transparent;
  border-bottom: 0.0001px solid rgba(167, 154, 154, 0.377);
}
img[alt="logo"] {
  height: 70px;
}
.navlink {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}
.navlink li a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  /* border: solid green; */
  /* width: 140px; */
  color: white;
  font-size: 1.1rem;
}

svg[alt="jerseyico"] {
  width: 15px;
  height: 15px;
  /* border: solid; */
  /* padding: 1px; */
  margin-right: 5px;
}
.bi {
  /* border: solid; */
  padding: 10px;
  font-size: 1.1rem;
}

.countjersey {
  position: fixed;
  font-size: 14.5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #30ff00;
  top: 15px;
  left: 61%;
  z-index: -1;
}

.container {
  /**/
}
.container h1 {
  text-align: center;
  position: relative;
  bottom: 120px;
  background-color: lavender;
  color: #0ac200;
  z-index: 1000;
  cursor: none;
}
.titlehead {
  font-family: "Alegreya_Italic";
  color: #133567;
}
.banner {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  /* filter: blur(10px); */
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.59),
    rgba(0, 0, 0, 0.638)
  );
  z-index: 1;
}

img[alt="Banner1"] {
  width: 100%;
  height: 800px;
  object-fit: cover;
  position: absolute;
}
/* .blur {
  filter: blur(10px);
  opacity: 0.5px;
} */

.jerseyscontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  /* border: solid; */
  overflow-x: auto;
  overflow-y: hidden;
  gap: 80px;
  padding: 10px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  margin-top: 100px;
  scroll-behavior: smooth;
  border-radius: 25px;
}
.jerseyscontainer::-webkit-scrollbar {
  height: 8px;
}

.jerseyscontainer::-webkit-scrollbar-track {
  background: linear-gradient(
    rgba(179, 153, 153, 0.221),
    transparent
  ); /* Scrollbar track color */
  border-radius: 40px; /* Round the track */
  height: 40px;
}

.jerseyscontainer::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30ff00);
  border-radius: 40px; /* Round the thumb */
}

.jerseyscontainer::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.jersey1 {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 640px;
  flex-shrink: 0;
  /* min-width: 250px; */
  /* padding: 10px; */
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}

.jimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* border: solid blue; */
  position: relative;
  border-radius: 25px 25px 0 25px;
}
.jimg img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 25px;
}
.jtextarea {
  /* border: solid red; */
  padding: 30px;
  height: 200px;
  border-radius: 0 0 25px 25px;
  position: relative;
  text-align: justify;
}
.jtextarea h3 {
  padding: 0 0 5px;
  font-size: larger;
}
#price {
  font-size: large;
  /* border: solid; */
  padding: 0px 0px 5px;
}
#jdesc {
  /* border: solid; */
  padding: 10px 0px 10px;
}
.jtextarea button {
  display: flex;
  padding: 5px 5px 5px 15px;
  border: transparent;
  background: #30ff00;
  color: rgb(34, 32, 32);
  border-radius: 10px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#Jerseys h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(16, 115, 208);
  font-size: 8rem;
}
img[alt="ind"] {
  background-color: lightblue;
}

#fjerseys h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: -50px;
  color: rgb(16, 115, 208);
  font-size: 8rem;
}

.fjimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  border-radius: 25px 25px 0 25px;
  /* background-color: blue; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.fjimg img {
  width: 90%;
  height: 100%;
  position: relative;
  bottom: 0;
  left: 5%;
  top: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 25px;
  /* border: solid; */
}

#foj1 {
  background-color: lightskyblue;
}
#foj2 {
  background-color: #cd002cda;
}
#foj3 {
  background-color: #133567;
}
#foj4 {
  background-color: #ffd50096;
}
#foj5 {
  background-color: #0e0e12b6;
}
#foj6 {
  background-color: #790024ab;
}
footer {
  margin-top: 50px;
}
footer {
  background-color: lavender;
  border-top: 0.1px solid rgba(128, 128, 128, 0.305);
}
.footcontainer {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.logo-area {
  display: flex;
  /* flex-grow: 90; */
  /* border: solid; */
  height: auto;
  justify-content: center;
  align-items: center;
}
.logo-area img {
  width: 300px;
}
footer nav a {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  gap: 20px;
  flex-direction: column;
  /* border: solid yellow; */
  padding: 20px;
  color: rgb(29, 23, 23);
  text-decoration: none;
}

.sociallinks a {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* border: solid blue; */
  text-decoration: none;
  color: rgb(29, 23, 23);
}
footer a .bi {
  font-size: 25px;
  /* border: solid; */
}
.tc a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.1px solid rgb(29, 23, 23);
  color: rgb(29, 23, 23);
  padding: 20px;
  text-decoration: none;
}
#tos {
  border-bottom: none;
}
.copyrightarea {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(29, 23, 23);
  padding: 20px;
  font-size: large;
}

/*  */

.parentContainer{
  background: lavender;
  /* border: solid; */
  border-radius: 20px;
  width: 30%;
  height: 80%;
  position: fixed;
  top: 85px;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 29px 4px rgba(0, 0, 0, 0.462);
}
.parentContainer h3{
  font-weight: 100;
  background-color: lavender;
  width: 100%;
  /* border: solid; */
  text-align: center;
}

.cartcontainer {
  /* background: lavender; */
  /* border: solid; */
  border-radius: 20px;
  width: 90%;
  height: 80%;
  position: absolute;
  left: -390px;
  top: 5px;
  z-index: -1;
  padding: 10px;
  transform: translateX(100%);
  margin: auto;
  overflow-y: auto ;  
  overflow-x: hidden;
}
.cartcontainer::-webkit-scrollbar{
  background: #133567;
  width: 10px;
  border-radius: 10px;
}
.cartcontainer::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: lavender;
}

/* Styling for the button container */
.cbt {
  /* border: solid red; */
  height: 50px;
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 82%;
  padding: 10px;
}

/* Styling for buttons inside cbt */
.cbt button {
  padding: 5px;
  flex: 1;
  background-color: #30ff00;
  height: 50px;
  border-radius: 10px;
  border: 0.1px solid rgba(128, 128, 128, 0.358);
  font-size: 20px;
}
.cbt #close {
  background-color: lavender;
}
.cbt button:hover {
  background-color: #2cbf0baf;
  cursor: pointer;
}
#close:hover {
  background-color: rgba(184, 184, 197, 0.384);
  cursor: pointer;
}


.number {
  padding: 10px;
}
.cartcontainer.visible {
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* cart css prop*/
.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: .1px solid rgba(128, 128, 128, 0.377);
  padding: 4px;
  border-radius: 10px;
  background-color: rgb(236, 236, 248);
  margin-top: 10px;
  width: 380px;
}
.items .image {
  /* border: solid blue; */
  border-radius: 10px;
}
.items .prodname {
  /* border: solid red; */
  padding: 10px;
}
.items .quantity {
  padding: 10px;
}
.image img {
  width: 90px;
  border-radius: 10px;
}
.minus,
.plus {
  /* border: solid red; */
  border: none;
  background-color: #30ff00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.minus:hover,
.plus:hover {
  background-color: rgba(151, 151, 172, 0.632);
  cursor: pointer;
}